<body>

  <div class="container">

    <header>

      <h1>Scholarship</h1>

    </header>

     {{> loginButtons}}
           
    
  </div>

  <div class="container">
    <header>
      <h1>Todo List</h1>
    </header>
 
    <ul>
      {{#each company}}
        {{> task}}
      {{/each}}
    </ul>
  </div>
</body>

 
<template name="task">
  <li>{{text}}</li>
</template>

